#total-price {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

#empty-cart-text {
	padding: 10px 50px;
	text-align: center;
	font-size: large;
}

.category-header {
	font-weight: bold;
	text-indent: 5%;
}